@page 
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>

    <div class="login-container">
        <!-- Header -->
        <div class="header">
            <i class="fas fa-shield-alt logo-icon"></i>
            <div class="logo-text">
                <h2>AI-Based IPS</h2>
                <p>Intrusion Prevention System</p>
            </div>
        </div>

        <!-- Card -->
        <div class="card">
            <h1>Forgot Password</h1>

            <p class="info-text">
                Enter your email address and we will send you a link to reset your password.
            </p>

            <div class="input-group">
                <label>Email Address</label>
                       <div class="input-wrapper">
                  <form method="post">

    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

    <div class="form-floating mb-3">
        <input asp-for="Input.Email" class="form-control"
               autocomplete="username"
               aria-required="true"
               placeholder="name@example.com"
               id="resetEmailInput" />

        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>

    <button type="submit" class="main-btn user-btn " id="sendCodeBtn">
        <span>Send Reset Link</span>
        <i class="fas fa-paper-plane"></i>
    </button>
   </form>

                  
                </div>
            </div>


          

            <button class="secondary-btn" id="backBtn" type="button">
               
                    <a asp-action="Login" asp-controller="Account"> Back to Sign In </a>
            </button>

            <p class="signup-text">
                Don’t have an account?
                <a asp-action="Register" asp-controller="Account">Sign up</a>
            </p>
        </div>
    </div>
    </body>

</html>


