@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
    Layout = null;
}
 


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/style.css">
    </head>

    <body>

        <div class="login-container">
            <!-- Header -->
            <div class="header">
                <i class="fas fa-shield-alt logo-icon"></i>
                <div class="logo-text">
                    <h2>AI-Based IPS</h2>
                    <p>Intrusion Prevention System</p>
                </div>
            </div>

            <!-- Card -->
            <div class="card">
                

                <p class="info-text">
                    Now, You Can Reset Your Password
                </p>

                <div class="input-group">
                    
                    <div class="input-wrapper">
                       
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            <input asp-for="Input.Code" type="hidden" />
                            <div class="form-floating mb-3">

                                <label asp-for="Input.Email" class="form-label"></label>
                                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                               
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">

                                <label asp-for="Input.Password" class="form-label"></label>
                                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." />
                               
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." />
                             
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <button type="submit" class="main-btn user-btn" id="sendCodeBtn">Reset</button>
                        </form>

                  
                    </div>
                </div>


          

                <button class="secondary-btn" id="backBtn" type="button">
               
                    <a asp-action="Login" asp-controller="Account"> Back to Sign In </a>
                </button>

                <p class="signup-text">
                    Don’t have an account?
                    <a asp-action="Register" asp-controller="Account">Sign up</a>
                </p>
            </div>
        </div>
    </body>

</html>


 